<?xml version="1.0" encoding="UTF-8"?>
   <!--
      Uncomment if you're using Glassfish. JBoss 6.0.0.M1 doesn't yet support Servlet 3.0. This is anticipated to be
      fixed very soon.
   -->
   <!--
      <web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
      http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <!-- RichFaces 4 -->
    <!--     
        - From 'ui' directory: Copy richfaces-components-api-4.x.jar and 
          richfaces-components-ui-4.x.jar to your application libraries 
          folder.

        - From 'framework' directory: Copy richfaces-core-api-4.x.jar and
          richfaces-core-impl-4.x.jar to your application libraries folder.
           a.  sac-1.3, cssparser-0.9.5 - required for components CSS work.
           b.  google-guava-11.0.2 - core runtime dependency
     -->  
    <context-param>
	   <param-name>org.richfaces.SKIN</param-name>
	   <param-value>blueSky</param-value>
	</context-param>
	
	<context-param>
	   <param-name>org.richfaces.CONTROL_SKINNING</param-name>
	   <param-value>enable</param-value>
	</context-param>
	
	<context-param>
	   <param-name>javax.faces.PROJECT_STAGE</param-name>
	   <param-value>Development</param-value>
	</context-param>
	      
      
   <!-- Activate the JSF 2.0 servlet -->
   <servlet>
      <servlet-name>Faces Servlet</servlet-name>
      <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <!-- Tell the context which URLs to process as facelets.  -->
   <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.jsf</url-pattern>
   </servlet-mapping>

   <!-- This is an optional parameter, but it makes troubleshooting errors much easier.  -->
   <!-- You may want to delete it before final deployment -->
   <context-param>
      <param-name>facelets.DEVELOPMENT</param-name>
      <param-value>true</param-value>
   </context-param>

   <persistence-unit-ref>
      <persistence-unit-ref-name>widgets/pu</persistence-unit-ref-name>
      <persistence-unit-name>widgets</persistence-unit-name>
   </persistence-unit-ref>

</web-app>
